#root{background-color:rgb(89, 187, 205);}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top{
  background-color:rgb(118, 178, 230);
  display: flex;
  margin-bottom: 30px;
  font-family: 'Fredoka One', cursive;

}

.home{
  margin-right: 450px;
}

.event{

}

.about{
  margin-right: 30px;
  margin-left: 30px;
}

.search{
  margin-right: 50px;
}

.buy{

  margin-right: 50px;

}

.nav{
margin-right: 550px;
}

.pages{
  background-color: white;
  margin: auto;
  width: 15%;


  
}

.pg2,.pg3,.pg4,.pg5,.pg6,.pg7,.pg8,.pg9{
  float: left;
  margin-right: 5px;
}

.event-name{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}



